#sign-in-side {
  width: 30vw;
  height: 94vh;
  min-width: 440px;
  max-width: 650px;

  position: absolute;
  top: calc(3vh - 3px);
  left: 3vh;
  z-index: 1;

  background-image: url(../graphics/tablecloth.jpg);
  border: solid var(--main-border-color) 3px;
  border-radius: 10px;
}

#sign-in-title {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  padding-top: 10px;
  padding-bottom: 5px;

  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid black 2px;

  background-color: var(--main-theme-color);

  user-select: none;
}

.log-in-inputs {
  height: 46px;
  width: calc(100% - 10px);
  padding: 0px 5px 0px 5px;

  font-size: 40px;

  margin: 0px;
  border: none;

  background-color: #dadada;
  transition-property: background-color;
  transition-duration: 200ms;
}

.log-in-inputs.actives {
  background-color: #00000000;
}

.credential-holders {
  height: 46px;
  width: calc(100% - 60px);

  position: absolute;
  left: 30px;
}

.log-in-inputs:focus {
  outline: none;
}

.credential-underlines {
  height: 3px;
  width: 0px;
  background-color: blue;
  display: block;

  transition-property: width;
  transition-duration: 200ms;
}

.credential-underlines.actives {
  width: 100%;
}

#username-holder {
  top: 60px;
}

#password-holder {
  top: 140px;
}

#submit {
  padding-left: 10px;
  padding-right: 10px;
  
  height: 42px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Roboto', sans-serif;
  font-size: 30px;

  background-image: linear-gradient(45deg, #fbfbfb, #e5e5e5);
  border: solid black 1px;
  user-select: none;
  white-space: nowrap;
}

#submit:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, #fbfbfb, #e5e5e5);
}

#submit:active {
  background-image: linear-gradient(45deg, #f8f8f8, #d4d4d4);
}

.credentials-identifiers {
  position: absolute;
  height: 1.2em;
  bottom: -1.2em;
  user-select: none;
  opacity: 1;
  transition-property: opacity, bottom;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  color: #627678;
}

.credentials-identifiers.actives, .credentials-identifiers.disabled {
  opacity: 0;
  bottom: -2em;
}

.credential-warnings {
  color: #e20000;
  background-color: #ffdbdb;
  padding: 5px 0px 5px 0px;
  font-size: 16px;
  display: none;
  
  position: relative;
  z-index: 1;

  overflow: hidden;
  white-space: nowrap;
  
  width: 0px;
  transition-property: width;
  transition-duration: 200ms;
}

.credential-warnings.actives {
  width: calc(100% - 10px);
  padding: 5px;
}

#create-account-container-text {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
}

#create-account-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-image: url("../graphics/smear.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 60px;
}


#promo-photos {
  width: 100vw;
  height: 100vh;
  background-color: cornsilk;
  
  position: relative;
  overflow: hidden;
}

.no-transition {
  transition: none !important;
}

.slides {
  width: 100%;
  height: 100%;
  position: absolute;
  
  z-index: 0;
  background-color: cornsilk;
}

.slides > img {
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  object-fit: cover;
}

#slide-a {
  left: 0px;
}

#slide-b {
  transition-property: left opacity;
  transition-duration: 3500ms;
  transition-timing-function: ease-out;
  left: 100vw;
  opacity: 0;
  display: none;
}

.photos {
  min-width: 100%;
  min-height: 100%;

  position: absolute;
  bottom: 0px;

  user-select: none;
}
