#sign-in-container {
  width: calc(100% - 66px);
  height: 360px;
  padding: 10px;
  
  position: relative;
  top: 80px;
  left: 20px;
  background-color: white;
  
  border: solid var(--main-border-color) 4px;
  border-radius: 10px;

  overflow: hidden;
}

#credentials-container {
  position: absolute;
  top: 0px;
  left: 41px;
  width: calc(100% - 41px);
  height: 380px;
  background-color: #eaeaea;
}

#confirm-holder {
  top: 220px;
}

#sign-in-title {
  margin: 370px 0px 0px -15px;
  width: 380px;
}

#submit {
  top: 302px;
}

/* reference: 

  #sign-in-side {
  width: 30vw;
  height: 94vh;
  min-width: 440px;
  max-width: 650px;

  position: absolute;
  top: calc(3vh - 3px);
  left: 3vh;
  z-index: 1;

  background-image: url(../graphics/tablecloth.jpg);
  border: solid var(--main-border-color) 3px;
  border-radius: 10px;
}
*/

#view-sponsored {
  width: 250px;
  height: 94vh;
  top: calc(3vh - 6px);
  right: 3vh;

  position: absolute;
  padding: 3px;

  background-color: cornsilk;
  z-index: 1;

  /* background-image: url(../graphics/tablecloth.jpg); */
  border: solid var(--main-border-color) 3px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  
}

.sponsored-rows {
  padding: 2px;
  display: block;
  color: black;
  text-decoration: none;
}

.sponsored-rows:nth-child(even) {
  background-color: darkgrey;
}

.sponsored-rows:nth-child(odd) {
  background-color: grey;
}

.sponsored-rows:hover {
  cursor: pointer;
  background-color: lightgreen !important;
  padding: 4px;
}

.sponsored-rows.sponsored-rows.selected {
  background-color: lightblue;
  /* padding: 4px; */
}

.sponsored-flexboxes {
  position: relative;
}

#accounts-container {
  overflow-y: auto;
  overflow-x: hidden;

  border-bottom: 3px dashed black;
  flex-grow: 1;
}

#permissions-container {
  height: 300px;
}


.permissions-submit {
  display: block;
}

.permissions-containers {
  border-top: dotted 2px black;
  margin-top: 10px;
}

.permissions-containers:first-child {
  margin-bottom: 0px;
  border: none;
}

#unban-effects {
  color: green;
  text-decoration: underline;
}

#view-selected-sponsored {
  position: absolute;
  bottom: 0px;

  display: block;
  width: 100%;
  text-align: center;
}