#sign-in-container {
  width: calc(100% - 66px);
  height: 360px;
  padding: 10px;
  
  position: relative;
  top: 80px;
  left: 20px;
  background-color: white;
  
  border: solid var(--main-border-color) 4px;
  border-radius: 10px;

  overflow: hidden;
}

#credentials-container {
  position: absolute;
  top: 0px;
  left: 41px;
  width: calc(100% - 41px);
  height: 380px;
  background-color: #eaeaea;
}

#confirm-holder {
  top: 220px;
}

#sign-in-title {
  margin: 370px 0px 0px -15px;
  width: 380px;
}

#submit {
  top: 302px;
}