<%- contentFor("head") %>
<script src="js/award.js" defer type="module"></script>
<!-- <link rel="stylesheet" href="css/award.css"> -->

<%- contentFor("main") %>
<input placeholder="username" id="id">
<button id="search">Search</button>
<br>
<select id="user-awards"></select>
<button id="remove">Remove Award</button>
<br>
<select id="all-awards"></select>
<button id="give">Give Award</button>