<%- contentFor("head") %>
<script src="js/ban.js" defer type="module"></script>
<!-- <link rel="stylesheet" href="css/ban.css"> -->

<%- contentFor("main") %>
<input placeholder="username" id="id">
<button id="search">Search</button>
<br>
<input placeholder="type (CSV)" id="type">
<br>
<select id="ban-reasons"></select>
<button id="unban">Unban</button>
<button id="ban">Ban</button>