<%- contentFor ('head') %>
<script src="js/signUp.js" defer type="module"></script>
<script src="js/photoroll.js" defer type="module"></script>
<link rel="stylesheet" href="css/signUp.css">
<link rel="stylesheet" href="css/credentials-core.css">

<%- contentFor ('main') %>
<aside id="sign-in-side">
  <div id="sign-in-container">
    <h1 id="sign-in-title">Sponsor Account</h1>
    <div id="credentials-container">
      <div id="username-holder" class="credential-holders">
        <label class="credentials-identifiers" id="username-identifier">username</label>
        <input id="username" class="log-in-inputs" type="text" autofocus>
        <div id="username-underline" class="credential-underlines"></div>
        <div id="username-warning" class="credential-warnings"></div>
      </div>
      <div id="password-holder" class="credential-holders">
        <label class="credentials-identifiers" id="password-identifier">password</label>
        <input id="password" class="log-in-inputs" type="password">
        <div id="password-underline" class="credential-underlines"></div>
        <div id="password-warning" class="credential-warnings"></div>
      </div>
      <div id="confirm-holder" class="credential-holders">
        <label class="credentials-identifiers" id="confirm-identifier">confirm password</label>
        <input id="confirm" class="log-in-inputs" type="password">
        <div id="confirm-underline" class="credential-underlines"></div>
        <div id="confirm-warning" class="credential-warnings"></div>
      </div>
      <button id="submit">Sponsor Account</button>
    </div>
  </div>
  <!-- <div id="create-account-container">
    <div id="create-account-container-text">
      <a href="/">Already have an account? Click here!</a>
    </div>
  </div> -->
</aside>
<aside id="view-sponsored">

</aside>

<div id="promo-photos">
  <div id="slide-a" class="slides">
    <img src="/getPhoto/<%=promoPhotoSrc%>" id="photo-a" class="photos">
  </div>
  <div id="slide-b" class="slides"></div>
</div>