<%- contentFor ('head') %>
<script src="js/signUp.js" defer type="module"></script>
<script src="js/photoroll.js" defer type="module"></script>
<link rel="stylesheet" href="css/signUp.css">
<link rel="stylesheet" href="css/credentials-core.css">

<%- contentFor ('main') %>
<aside id="sign-in-side">
  <div id="sign-in-container">
    <h1 id="sign-in-title">Sponsor Account</h1>
    <div id="credentials-container">
      <div id="username-holder" class="credential-holders">
        <label class="credentials-identifiers" id="username-identifier">username</label>
        <input id="username" class="log-in-inputs" type="text" autofocus>
        <div id="username-underline" class="credential-underlines"></div>
        <div id="username-warning" class="credential-warnings"></div>
      </div>
      <div id="password-holder" class="credential-holders">
        <label class="credentials-identifiers" id="password-identifier">password</label>
        <input id="password" class="log-in-inputs" type="password">
        <div id="password-underline" class="credential-underlines"></div>
        <div id="password-warning" class="credential-warnings"></div>
      </div>
      <div id="confirm-holder" class="credential-holders">
        <label class="credentials-identifiers" id="confirm-identifier">confirm password</label>
        <input id="confirm" class="log-in-inputs" type="password">
        <div id="confirm-underline" class="credential-underlines"></div>
        <div id="confirm-warning" class="credential-warnings"></div>
      </div>
      <button id="submit">Sponsor Account</button>
    </div>
  </div>
  <!-- <div id="create-account-container">
    <div id="create-account-container-text">
      <a href="/">Already have an account? Click here!</a>
    </div>
  </div> -->
</aside>
<aside id="view-sponsored">
  <div id="accounts-container" class="sponsored-flexboxes"></div>
  <div id="permissions-container" class="sponsored-flexboxes">
    <div id="available-permissions-container" class="permissions-containers">
      <label for="available-permissions">Add Permission:</label>
      <select id="available-permissions">
        <!-- <option>a</option> -->
      </select>
      <button id="submit-available-permissions" class="permissions-submit">Add</button>
    </div>
    <div id="removable-permissions-container" class="permissions-containers">
      <label for="removable-permissions">Remove Permission:</label>
      <select id="removable-permissions">
        <!-- <option>c</option> -->
      </select>
      <button id="submit-removable-permissions" class="permissions-submit">Remove</button>
    </div>
    <div id="bannable-permissions-container" class="permissions-containers">
      <label for="bannable-permissions">Ban:</label>
      <select id="bannable-permissions">
        <!-- <option>b</option> -->
      </select>
      <input id="ban-expiration-date" type="date" title="expiration">
      <button id="submit-bannable-permissions" class="permissions-submit">Ban</button>
    </div>
    <div id="unbannable-permissions-container" class="permissions-containers">
      <label for="unbannable-permissions">Unban:</label>
      <select id="unbannable-permissions">
        <!-- <option>b</option> -->
      </select>
      <div id="unban-effects"></div>
      <button id="submit-unbannable-permissions" class="permissions-submit">Unban</button>
    </div>
  </div>
  <a id="view-selected-sponsored">View Account</a>
</aside>

<div id="promo-photos">
  <div id="slide-a" class="slides">
    <img src="/getPhoto/<%=promoPhotoSrc%>" id="photo-a" class="photos">
  </div>
  <div id="slide-b" class="slides"></div>
</div>