<%- contentFor("head") %>

<%- contentFor("main") %>
<form action="/setProfilePicture" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" id="submit" accept=".png, .jpeg, .jpg">
</form>